
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br />

<div class="card">
    <div class="card-body">
        <form>
            <div class="form-group row">
                <label for="Ruta" class="col-sm-2 col-form-label">Seleccione Ruta</label>
                <div class="col-sm-9">
                    @Html.DropDownList("codRuta", null, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
        </form>

        <div id="resultado">

        </div>
    </div>
</div>




<script type="text/javascript">
    $(function () {
        CargarListado();
    });

    $("#codRuta").change(function () {
        CargarListado();
    });

    function CargarListado() {
        var code = $("#codRuta").val();

        $.ajax({
            type: "GET",
            url: "@Url.Action("ListadoViajes", "Pasajero")",
            dataType: "html",
            data: {
                id:code 
            } ,
            beforeSend: function () {
                $("#resultado").html("Cargando Viajes...");
            },
            success: function (data) {
                $("#resultado").html(data);
            },
            error: function (xhr, textStatus, errorThrown) {
                Mensaje('Error Imposible cargar datos.');
                $("#resultado").html("Error al cargar Viajes...");
            }
        });
    }

    function Mensaje(cadena) {
        bootbox.alert({
            message: cadena,
            backdrop: true
        });
    }
</script>